<%- include('../partials/header') %>


<label>Equipment:
    <select name="equipment" id="equipment ">
        <option value="Home Equipment">Home Equipment</option>
        <option value="Gym Equipment">Gym Equipment</option>
        <option value="Other">Other</option>
    </select>
</label><br>

<%- include('../partials/footer') %>