<%- include('./partials/header') %>

<h3>
    <%= subtitle %>
  </h3>
<div class="index-image">
    <img src="https://live.staticflickr.com/65535/53647021447_b202e7e497_o.jpg")  alt="exercising woman">
    

</div>
<%- include('./partials/footer') %>