.container {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

.topbar {
  background-color: rgb(221, 244, 13);
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

.index-image img {
  width: 100%;
  height: auto;
  min-height: 10vh;
  max-height: 100vh;
  object-fit: cover;
  margin: 0px;
}

h1 {
  padding: 10px;
  text-align: center;
  font-size: 36px;
  margin: 0 0;
  color: rgb(55, 61, 94)
}

h3 {
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  color: rgb(55, 61, 94)
}

a {
  color: #92b6c5;
}

.content {
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgb(55, 61, 94);
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

footer {
  background-color: rgb(221, 244, 13);
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin: 0px;
}