.container {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  
}

.navbar {
  background-color: rgb(204, 225, 11);
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

h1 {
  background-color: rgb(189, 244, 245);
  padding: 10px;
  text-align: center;
  font-size: 14px;

}
/* 
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}