<%- include('../partials/header') %>

<form id="add-snacks-form" action="/snacks" method="POST">
    <label>Snack:
        <select name="snack" id="snack ">
            <option value="Twinkle Toes">Twinkle Toes</option>
            <option value="Muffins Melts">Muffin Melts</option>
            <option value="Froggie Dips">Froggie Dips</option>
        </select>
    </label><br>
   
    <label>Repetitions:
    <input type="number" name="repetition" min="1" max="9999" >
</label><br>

    <label>Sets:
    <input type="number" name="sets" min="1" max="9999" maxlength="4">
</label><br>

<button type="submit">Add Snack</button>
</form>

<p>
    <%= errorMsg %>
  </p>
  
<%- include('../partials/footer') %>